// Add the theme colors
$theme-colors: (

  white: #fff,
  black: #000,
  dark-gray: #4d4d4e,
  light-gray: #aea7a7,
  gray-border: #f8f8f8
);

// Colors
$white: #fff;
$black: #000;

$section-bg-gray: #f8f8f8;
$section-bg-dark-gray: #efefef;
$text-dark-gray: #4d4d4e;
$text-light-gray: #aea7a7;
$main-red: #FF0000 ;

$dark-gray: #777777;

$green: #5fd394 !default;
$red: #ff7070 !default;
$sucess-background: #1dcf6d !default;
$error-background: #f41515d2 !default;

// =====
// bg

// =====
// hover

// border
$gray-border: #f8f8f8;

// Buttons

// shadow

$nav-bar-shadow: rgba(0, 0, 0, 0.1);



